<h3>
  {{summary?.name}} &nbsp;
  <small *ngIf="summary?.yourMove">
    <label class="label label-danger">Your Move</label>
  </small>
</h3>
<p>You are
  <strong>{{symbol}}</strong>
</p>
<p>Playing against
  <strong>{{summary?.userNames}}</strong>
</p>
<p>
  <strong>{{summary?.numMoves}}</strong> moves made</p>
<br />
<table class="table-bordered">
  <tr>
    <td class="cell">
      <ng-container *ngIf="board.x0y0 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(0, 0)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x0y0 != 'MOVE'">{{board.x0y0}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x1y0 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(1, 0)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x1y0 != 'MOVE'">{{board.x1y0}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x2y0 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(2, 0)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x2y0 != 'MOVE'">{{board.x1y0}}</ng-container>
    </td>
  </tr>
  <tr>
    <td class="cell">
      <ng-container *ngIf="board.x0y1 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(0, 1)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x0y1 != 'MOVE'">{{board.x0y1}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x1y1 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(1, 1)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x1y1 != 'MOVE'">{{board.x1y1}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x2y1 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(2, 1)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x2y1 != 'MOVE'">{{board.x2y1}}</ng-container>
    </td>
  </tr>
  <tr>
    <td class="cell">
      <ng-container *ngIf="board.x0y2 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(0, 2)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x0y2 != 'MOVE'">{{board.x0y2}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x1y2 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(1, 2)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x1y2 != 'MOVE'">{{board.x1y2}}</ng-container>
    </td>
    <td class="cell">
      <ng-container *ngIf="board.x2y2 == 'MOVE'">
        <a href="javascript:void(0)" (click)="makeMove(2, 2)">MOVE</a>
      </ng-container>
      <ng-container *ngIf="board.x2y2 != 'MOVE'">{{board.x2y2}}</ng-container>
    </td>
  </tr>
</table>
